body {
  font-family: 'Roboto', sans-serif;
}
/* custom css style  */
.custom-color{
  color: #1f3d69;
}
.heading-text{
  font-size: 65px;
  font-weight: 700;
}
.small-heading{
  font-size: 50px;
  font-weight: 700;
}
.my-button{
  background: #ff663b;
  color: white;
  padding: 8px 25px;
  border: 1px solid white;
  border-radius: 5px;
}
.hover-shadow {
  transition: box-shadow .3s;
  background: #fff;
  float: left;
  height: 300px;
  
}
.hover-shadow:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
